<mat-toolbar>
    <button mat-button class="ms"><span routerLink="../user"><img class="logo" src="../../../assets/LogoHorizontalVerde.png" alt="Bionaturista"></span></button>
  
    <span class="spacer">
      <div class="search">
        <input
          type="text"
          class="searchTerm"
          placeholder="¿Qué estás buscando?"
        />
        <button mat-button class="botonB"><mat-icon>search</mat-icon></button>
      </div>
    </span>

    <button mat-button class="ms-2"><span class="material-icons" (click)="irCarrito()">shopping_cart</span></button>
  
    
  
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>shopping_basket</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>

    

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="../">
        <mat-icon>logout</mat-icon> Cerrar sesión
      </button>
      
    </mat-menu>
  </mat-toolbar>
  
  
<router-outlet></router-outlet>